:root {
  --ip-color: darkslategrey;
  --op-color: #520303;
  --bg-color: lightcyan;
}
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: "Trebuchet MS", sans-serif;
	background: var(--bg-color);
    background-image: url(./images/bg.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 1887px;
}
#header {
	height: 33px;
}
#footer{
    font-size: 0.7em;
    text-align: right;
    color: var(--op-color);
}
#footer a{
	color: var(--op-color);
    text-decoration-style: dotted;
}
span.initial{
	font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: var(--bg-color);
    display: table;
    margin: 0 auto;
    cursor: help;
}
.ui-button, .ui-selectmenu-button {
	font-size: .8em!important;
}
#logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
    font-weight: bold;
	color: var(--ip-color);
    text-decoration: none;
	float: right;
	text-shadow: 0.07em 0.07em 0.15em rgb(10 10 10 / 45%);
}
#logo span{
	color: var(--op-color);
}
#source {
    background-image: linear-gradient(to top right, var(--ip-color) 75%, black);
}
#output {
    background-image: linear-gradient(to top right, var(--op-color) 75%, black);
}
#JSONata_area {
	background-color: greenyellow;
}
.json-formatter {
	padding: 10px 10px 18px 10px;
	margin: 20px 0;
	border-radius: 6px;
    box-shadow: 3px 3px 4px 2px rgb(10 10 10 / 45%);
}
.json-formatter button {
	float:right;
}
div.errors {
	background-color: red;
	margin-bottom: 5px;
}
.ui-widget-overlay {
	opacity: .50 !important;
	filter: Alpha(Opacity=50) !important;
	background: rgb(50, 50, 50) !important;
}
#modal, #map {
	display: none;
}
#map { 
	height: 400px;
	width: 600px;
}
.marker {
	background-color: red;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
}
.mapboxgl-popup {
	max-width: 200px;
}
.mapboxgl-popup-content {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup-content h3 a {
    background-image: url(./images/external-ltr.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}
div.popup_links {
	max-height: 300px;
    font-style: italic;
    overflow-x: auto;
}
a.popup_link.wikidata{
    margin-right: 10px;
    background-color: beige;
}
.popup_link img {
	height: 40px;	
}
.mapboxgl-popup-close-button {
	font-size: 2em!important;
    font-weight: bold;
}
.APIButton span {
	color: red;
    font-weight: bold;
}
.datafile_url {
    font: inherit;
    color: inherit;
    text-align: left!important;
    outline: none;
    cursor: text;
    width: 170px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#conversions {
	z-index: 20;
    position: relative;
	float: left;
}
.arrow {
  position: relative;
  z-index: 10;
  left: 50%;
  width: 30px;
  height: 80px;
  margin: -20px 0 -33px -16px;
}
.arrow__body {
  width: 100%;
  height: 60px;
  margin-left: 11px;
  border-width: 0 0 0 8px;
  border-style: double;
  border-color: var(--ip-color);
}
.arrow__body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 20px 15px 0;
  border-style: solid;
  border-color: var(--ip-color) transparent transparent;
}
