@keyframes flash-background {
    0%   { background-color: white }
    90%  { background-color: white }
    100% { background-color: greenyellow }
}
@keyframes loading-background {
    0%   { background-color: red }
    50%  { background-color: orange }
    100% { background-color: red }
}
:root {
  --ip-color: darkslategrey;
  --op-color: #520303;
  --bg-color: lightcyan;
}
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: "Trebuchet MS", sans-serif;
	background: var(--bg-color);
    background-image: url(./images/bg.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 1887px;
}
.noscroll {
	overflow: hidden;
}
#header {
	height: 33px;
}
#footer{
    font-size: 0.7em;
    text-align: right;
    color: var(--op-color);
    opacity: .3;
    margin-right: 3px;
}
#footer a{
	color: var(--op-color);
    text-decoration-style: dotted;
}
span.initial{
	font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: var(--bg-color);
    display: table;
    margin: 0 auto;
    cursor: help;
    z-index: 10;
}
.ui-button, .ui-selectmenu-button {
	font-size: .8em!important;
	padding: 0.5em 1em;
}
.logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
    font-weight: bold;
	color: var(--ip-color);
    text-decoration: none;
	float: right;
	text-shadow: 0.07em 0.07em 0.15em rgb(10 10 10 / 45%);
	white-space: nowrap;
}
.logo span{
	color: var(--op-color);
}
.logo span::after {
	content: 'Prototype';
	position: absolute;
	font-size: .35em;
    padding: 0.1em 0.2em;
    top: 0.8em;
    right: 11.3em;
	background-color: rgb(255 255 0 / 60%);
	-webkit-transform: rotate(-15deg); 
	-moz-transform: rotate(-15deg);    
	transform:rotate(-15deg);
}
.mapboxgl-ctrl-top-right .logo span::after {
	padding: 0em 0.2em;
    top: -1.2em;
    right: 10.8em;
}
.throb {
	transition: all 1s;
    animation: flash-background 2s infinite;
}
#inputs.upload, #inputs.fetch, #inputs.sample {
	display: inline-block;
}
#source table {
    position: absolute;
    top: 12px;
}
#output .clear{
	display: none;
}
#file_source {
	padding: 3px;
}
#datafile_url, #examples-button {
	width: 370px;
}
#choose_input, #file_source, #datafile_url, #fetch, #examples-button, #inputs input, #inputs select {
	display: none;
}
#inputs.upload #file_source, #inputs.fetch #datafile_url, #inputs.fetch #fetch, #inputs.sample #examples-button {
	display: inline-block;
}
.ui-menu-item {
	font-size: .9em;
}
#typeLibrary-button {
	float: right;
    height: 24px;
    top: 1px;
}
#typeList {
    column-width: 120px;
    column-rule: 1px solid gray;
    border: 1px solid gray;
    background-color: beige;
	border-radius: 3px;
	clear: both;
    margin: 20px 5px 0px;
}
#typeList input {
    float: left;
    clear: both;
}
#typeList label {
	display: block;
    margin: 0 0 -20px 20px;
}
#source {
    background-image: linear-gradient(to top right, var(--ip-color) 70%, black);
	color: var(--ip-color);
	position: relative;
}
#output {
    background-image: linear-gradient(to top right, var(--op-color) 70%, black);
	color: var(--op-color);
}
#JSONata_area {
	background-color: greenyellow;
}
.json-formatter {
    position: relative;
	padding: 10px 10px 18px 10px;
	margin: 20px 0;
	border-radius: 6px;
    box-shadow: 3px 3px 4px 2px rgb(10 10 10 / 45%);
	opacity: 0.85;
}
.json-formatter button {
	float:right;
}
div.errors {
	background-color: red;
	margin-bottom: 5px;
}
.ui-widget-overlay {
	opacity: .50 !important;
	filter: Alpha(Opacity=50) !important;
	background: rgb(50, 50, 50) !important;
}
#modal, #map {
	display: none;
}
#map { 
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
    z-index: 100;
}
button.mapboxgl-ctrl-close-map span.mapboxgl-ctrl-icon{
	transform: rotate(45deg);
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E %3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E %3C/svg%3E")	
}
.mapboxgl-canvas-container {
	height: 100vh;
	width: 100vw;
}
.marker {
	background-color: #0000ff80;
	width: 15px;
	height: 15px;
	border: 1px yellow solid;
	border-radius: 25%;
	cursor: pointer;
    z-index: 2;
}
.marker.movable {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: move;
}
.linkmarker {
	width: 20px;
	height: 20px;
	border: 1px var(--op-color) solid;
	border-radius: 50%;
	cursor: pointer;
    text-align: center;
    z-index: 1;
}
.facetmarker {
	width: 16px;
	height: 16px;
	border: 1px var(--op-color) solid;
	border-radius: 50%;
	cursor: pointer;
    text-align: center;
    z-index: 2;
}
.mapboxgl-popup {
	max-width: 200px;
    z-index: 4;
}
.mapboxgl-popup-content {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup-content h3 a {
    background-image: url(./images/external-ltr.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}
.mapboxgl-ctrl-group {
    border-radius: 3px;
}
.mapboxgl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%)!important;
}
.expandingButton {
    font-size: 1em!important;
    background-position: right 5px top 5px!important;
    background-repeat: no-repeat!important;
    background-size: 20px!important;
    padding: 0 3px 3px 0;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    overflow: hidden;
  	transition: max-height 0.5s, max-width 0.5s;
}
.expandingButton:hover, .expandingButton.pinned {
    max-width: 50vw;
    max-height: 50vh;
    overflow-y: scroll;
}

.expandingButton span.layer{
    opacity: 0;
    transition: opacity 0.5s;
}
.expandingButton:hover span.layer, .expandingButton.pinned span.layer{
    opacity: 1;
}

.fence {
    width: 30px;
    height: 30px;
	float: right;
}
#layerSelector {
    background-image: url(./images/layers.svg);
    padding: 2px;
    overflow: hidden;
}
#layerSelector label {
	vertical-align: 2px;
}
.layerGroup:not(:first-of-type):before, #layerSelector .layerGroup:first-of-type .layer:first-of-type:after {
    display: inline-block;
    content: "";
    border-top: 2px solid var(--op-color);
    width: 100%;
    margin: -2px 0 2px;
}
.mapboxgl-ctrl-top-right .ui-button {
    border: none!important;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%)!important;
}
.layer {
    clear: left;
    float: left;
    width: max-content;
}
.loading {
	opacity: 50%;
	animation: loading-background 2s infinite;
}
#geocodeWrapper {
    background-image: url(./images/search.svg);
    overflow: hidden;
}
#geocode {
	font-size: 1.4em!important;
    outline: none;
    cursor: text;
    margin: 2px 30px 0px 2px;
    width: 191px;
    height: 25px;
}
#geoResults {
	display: none;
}
#geocodeWrapper:hover #geoResults {
	display: block;
}
#geoResults span {
	background-color: var(--op-color);
    color: white;
    padding: 2px;
    clear: both;
    float: left;
    margin: 1px 2px;
    border-radius: 4px;
    padding: 3px 5px;
}
#data-explorer {
	top: 2em;
	left: 2em;
	height: auto!important;
	width: 30vw;
    min-width: 313px;
	position: absolute!important;
    z-index: 10;
    background-image: linear-gradient(to top right, var(--bg-color) 70%, white);
    opacity: 90%;
    cursor: grab;
    box-shadow: 3px 3px 4px 2px rgb(10 10 10 / 45%);
}
.mapboxgl-ctrl-top-right .logo {
	top: -22px;
    right: 8px;
    z-index: -1;
    position: absolute;
    background-color: rgb(255 255 255 / 45%);
}
#data-explorer .ui-resizable-se {
	height: 16px;
    width: 16px;
}
#navigation {
	float: left;
    font-size: 1.2em;
    left: 4px;
    top: 3px;
    position: relative;
}
#edit {
	clear: both;
    top: 7px;
    position: relative;
    margin: 4px!important;
}
#navigation button {
	padding: 4px;
    font-size: 1.5em;
}
#navigation input {
	padding: 3px;
    font-size: 1em!important;
	text-align: center;
	outline: none;
	cursor: text;
    margin-left: 5px;
	width: 120px;
}
#navigation input:first-of-type {
	width: 26px;
}
#navigation > span {
	position: relative;
	top: 1px;
    margin-right: 5px;
}
#navigation.filtered button:nth-of-type(-n+6), #navigation.filtered input, #navigation.disabled #filter {
	background-color: #ff00008a;
	border-color: yellow;
}
#navigation.disabled ~ div#trace {
	display: none;
}
#edit #delete {
	margin-left: 10px;
    background-color: orange;
}
#filtered {
    color: red;
}
#trace {
    overflow: auto;
    clear: both;
    max-height: 70vh;
    background-image: linear-gradient(to bottom left, var(--bg-color) 70%, white);
    margin: 10px 4px;
    border: 1px solid var(--op-color);
    border-radius: 3px;
}
div.popup_links {
	max-height: 300px;
    font-style: italic;
    overflow-x: auto;
}
a.popup_link.wikidata{
    margin-right: 10px;
    background-color: beige;
}
.popup_link img {
	height: 40px;	
}
.popupimage {
}
.mapboxgl-ctrl-top-right {
    top: 30px!important;
}
.mapboxgl-popup-close-button {
	font-size: 2em!important;
    font-weight: bold;
}
.APIButton span {
	color: red;
    font-weight: bold;
}
.datafile_url {
    font: inherit;
    color: inherit;
    text-align: left!important;
    outline: none;
    cursor: text;
    width: 170px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#conversions {
	z-index: 20;
    position: relative;
	float: left;
	display: flex;
}
#conversions label {
    position: relative;
	top: 5px;
}
.arrow {
  position: relative;
  z-index: 10;
  left: 50%;
  width: 30px;
  height: 80px;
  margin: -20px 0 -33px -16px;
}
.arrow__body {
  width: 100%;
  height: 60px;
  margin-left: 11px;
  border-width: 0 0 0 8px;
  border-style: double;
  border-color: var(--ip-color);
}
.arrow__body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 20px 15px 0;
  border-style: solid;
  border-color: var(--ip-color) transparent transparent;
}
.bg-text {
	position: absolute;
	top: 4px;
	right: 8px;
	overflow: hidden;
	text-shadow: 0.03em 0.03em 0.1em var(--bg-color);
}
#darkroom {
	display: none;
}
.json-formatter-string {
	white-space: break-spaces!important;
}
.editlink {
	background-image: url(images/ui-icons_777777_256x240.png);
	display: inline-block;
	width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    cursor: pointer;
}
.libraryItem {
	position: relative;
    top: 4px;
    float: left;
    clear: both;
}
.libraryDelete {
	padding: 2px;
    position: relative;
    top: -2px;
    margin-left: 3px;
}
#datafields {
	overflow-wrap: break-word;
}
#assignments tr td:first-of-type, #assignments tr th:first-of-type {
	text-align: right;
}
#assignments {
	border-spacing: 0 5px;
}
#assignments tr:nth-child(odd) {
	background-color: #e9e9e94d;
}
#assignments tr:nth-child(even) {
	background-color: #e9e9e9;
}
#assignments td {
	padding: 3px;
}
#assignments tr:not(.assignment)  {
	background-color: #c5dfc6;
}
#assignments tr:first-of-type  {
	background-color: #f1cfcf;
}
#assignments span.mini {
	font-size: 60%;
}
#assignments input, #assignments textarea {
	min-width: 400px;
}
#validation li {
	word-break: break-all;
}
.ui-selectmenu-menu {
	height: 200px;
    overflow: auto;
}
#geoCodeDataset {
	text-align: right;
	line-height: 35px;
}
#geocodeResults {
	font-size: .8rem;
	text-align: left;
    line-height: normal;
    border: 1px solid #c5c5c5;
    margin-top: 3px;
    width: 100%;
    border-collapse: collapse;
}
#geocodeResults tr:nth-child(even) {
	background: #f6f6f6;
}
#geocodeResults td {
    border: 1px solid #c5c5c5;
    vertical-align: top;
    line-height: 1.2rem;
}
#geocodeResults .ui-button:last-of-type {
	padding: 0.2em 0.2em;
    float: right;
    margin-left: 3px;
}
#geocodeResults .ui-selectmenu-button, #layerSelector .ui-selectmenu-button {
	font-size: inherit!important;
}
#layerSelector #geocodeSelector-button {
	padding: 0 3px;
    top: -2px;
}
#Geograph img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	cursor: pointer;
	margin-right: 5px;
}
#Geograph img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#Geograph img.selected {
	border: 3px solid red;
	padding: 3px;
}
span.salient {
	border: 1px solid #00000000;
    border-radius: 2px;
    background-color: #bfe5bfab;
    margin: 2px;
    cursor: pointer;
}
span.salient:not(.selected):hover {
	border-color: red;
}
span.salient.selected {
	background-color: #ed7b7bab;
}
#geocodeResults .ui-menu .ui-menu-item {
	border: 1px solid #c1c1c1!important;
    border-radius: 3px;
    background-color: #ddeaf1;
}
#geocodeResults .ui-widget.ui-widget-content {
	border: none!important;
}